<%# <div class="contacts">
    <div class="contact"><a href="http://www.linkedin.com/in/peter-koruga">LinkedIn</a></div>
    <div class="contact"><a href="https://github.com/petek157">Github</a></div>
    <div class="contact"><a href="https://stackoverflow.com/story/peter-koruga">Stackoverflow</a></div>
    <div class="contact"><a href="tel:+1-906-364-8851">Call <span class="twilio-power">Powered by Twilio</span></a></div>
    <div class="contact"><a href="mailto:peterk3@koruga.com?Subject=Portfolio%20Interest">Email</a></div>
</div> %>
<div class="headline">
    <div class="headline-title"></div>
    <div class="headline-spacer"><img src="/images/icons/icon_50_white.png" alt="P3 Spacer Image"/></div>
    <div class="headline-info"></div>
</div>
<div class="slideCount"><span class="c1 slIcon"><%= fa_icon("circle") %></span><span class="c2 slIcon"><%= fa_icon("circle") %></span></div>

<div class="quick-items">
    <div class="quick-item">
        <div class="title">
            Coding Skills
        </div>
        <div class="info">
            HTML, CSS, Javascript, jQuery, Swift, Objective-C, AWS, PHP, Ruby, Rails, React, C++ (Wiring), Python, SQL
        </div>
    </div>
    <div class="quick-item">
        <div class="title">
            Education
        </div>
        <div class="info">
            Bachelors of Science NMU 2005
        </div>
    </div>
    <div class="quick-item">
        <div class="title">
            Personal Interests
        </div>
        <div class="info">
            Coding, Business, Sports, Aviation (Private Pilot), Technology, Drones, 3D Printing, Music, Fitness,
            ABC (<b>A</b>lways <b>B</b>e <b>C</b>reating)
        </div>
    </div>
</div>